section {
	width: 800px;
	margin: 100px auto;
}

section h1,
section p {
	text-align: center;

}
section h1 {
	font: 48px 'Open Sans';
	font-weight: bold;
	color: teal;

}
section p {
	font: 24px 'Open Sans';
	color: purple;
}